* {
  box-sizing: border-box;
}

body {
  background-color: #fffffe;
}

main {
  margin: 4%;
}

image {
  max-width: 100%;
}

/* responsivt */
@media screen and (min-width: 920px) {
  .productlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 290px));
    gap: 3rem;
  }

  .category {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr /* repeat(3, 1fr) */;
    gap: 2rem;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 2%;
  }
}

@media screen and (max-width: 700px) {
  .breadcrumbs {
    font-size: 10px;
  }
  body {
    margin: 20px 10px;
  }

  nav {
    font-size: 12px;
    margin: 0px;
    padding: 0;
    margin-bottom: 10%;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 15px;
  }

  .product_name {
    font-size: 25px;
  }
}
