p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #242424;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #242424;
}

a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Produkt klassisk "kasse" */
.product_card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 300px;
}

.product_card img {
  width: 100%;
  height: auto;
  margin-bottom: 2px;
}

.product_card h3 {
  font-size: 15px;
  margin-bottom: 0px;
}

.product_description {
  font-size: 14px;
  color: #666;
}

.product_link {
  padding: 0;
  margin: 0;
  text-decoration: underline;
}
/* .produkt_liste p {
  font-size: 14px;
  color: #666;
}
 */
/* Produkt Udsolgt  "kasse" */
/* .udsolgt_liste {
  border: solid 0.1px rgba(190, 190, 190, 0.438);
  border-radius: 5px;
  padding: 20px;
  width: 300px;
} */
.udsolgt_liste img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  filter: blur(3px); /* giver sløret effeket */
}
/* 
.udsolgt_liste h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.udsolgt_liste p {
  font-size: 14px;
  color: #666;
} */

/* Udsolgt tekst */
.image-container {
  position: relative;
  display: inline-block;
}
.udsolgt_label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(168, 168, 168, 0.357);
  color: rgb(19, 19, 19);
  padding: 10px;
  font-size: 20px;
}
/* Produkt Rabat "kasse" */
/* .rabat_liste {
  border: solid 0.1px rgba(190, 190, 190, 0.438);
  border-radius: 5px;
  padding: 20px;
  width: 300px;
} */
/* .rabat_liste img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
 */
/* .rabat_liste h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.rabat_liste p {
  font-size: 14px;
} */

/* Rabat tekst */
.image-container {
  position: relative;
  display: inline-block;
}
.rabat-label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  top: 5%;
  left: 90%;
  transform: translate(-2%, -90%);
  color: rgb(213, 35, 35);
  padding: 4px;
  font-size: 18px;
}

/* pris forskel */
.sale_price {
  display: flex;
  justify-content: space-between;
}

.oldprice {
  color: #666;
  text-decoration: line-through;
}
.newprice {
  color: rgb(213, 35, 35);
}

/* Kategoriliste */
.category a {
  text-decoration: none;
  display: flex;
  padding: 1.5em;
  align-items: center;
  margin: 2%;
  color: rgb(255, 255, 255);
  background-color: #517a8b;
  border-radius: 10px;
  line-height: 30px;
  font-weight: bold;
}

/* Produkt side */
.product button {
  background-color: #517a8b;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 8px 18px;
  cursor: pointer;
}

.product {
  display: flex;
  flex-direction: column;
  margin-top: -20px;
}

.product_img {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 80%;
  margin-bottom: 10%;
}

.details_product {
  margin-top: 20%;
}

details {
  margin-top: 5%;
  margin-bottom: 5%;
}
summary {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  cursor: pointer;
}

dl {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

dt {
  font-weight: bold;
}

/* logo */
.logo img {
  display: block;
  margin: 1% auto 1% auto;
  max-width: 25%;
  max-height: 25%;
}

/* nav */
nav {
  display: flex;
  justify-content: center; /* Center the items horizontally */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 30px; /* Add space between menu items */
}

a {
  text-decoration: none;
  color: black;
  padding: 10px; /* Add spacing around the links */
}
